<div class="container">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-5 form group">
        <label for="userName"> Name </label>
        <input id="userName" type="text" formControlName="userName" />
      </div>
      <div class="col-sm-5 form group">
        <label for="password"> Password </label>
        <input id="password" type="text" formControlName="password" />
      </div>
    </div>
    <div class="button">
      <button class="btn btn-primary btn-lg" type="button" (click)="onSubmit()">
        Login
      </button>
    </div>
  </form>
</div>
