<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="checkbox">
      <div class="col-sm-5 form group">
        <label class="label">
          <input
            #saveUsername
            type="checkbox"
            data-toggle="toggle"
            [(ngModel)]="isVolunteer"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="isNGO"
          />
          I am Volunteer
        </label>
        <label class="label">
          <input
            #saveUsername
            type="checkbox"
            data-toggle="toggle"
            [(ngModel)]="isNGO"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="isVolunteer"
          />I am NGO Employee
        </label>
      </div>
    </div>
    <div class="col-sm-5 form group">
      <mat-form-field appearance="fill" *ngIf="isNGO">
        <mat-label>Select NGO</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="option1">ElaBela</mat-option>
          <mat-option value="option2">Schronisko Zabrze</mat-option>
          <mat-option value="option3">Capgemini</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-5 form group">
      <mat-form-field appearance="fill" *ngIf="isVolunteer">
        <mat-label>Select region</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="option1">EAST</mat-option>
          <mat-option value="option2">WEST</mat-option>
          <mat-option value="option3">NORTH</mat-option>
          <mat-option value="option3">SOUTH</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-5 form group">
      <label for="email"> E-mail <span class="red-star">*</span> </label>
      <input id="email" type="text" formControlName="email" required />
    </div>
    <div class="col-sm-5 form group">
      <label for="userName"> Name <span class="red-star">*</span></label>
      <input id="userName" type="text" formControlName="userName" required />
    </div>

    <div class="col-sm-5 form group">
      <label for="password"> Password <span class="red-star">*</span> </label>
      <input
        id="password"
        type="password"
        formControlName="password"
        required
      />
    </div>
    <div class="col-sm-5 form group">
      <label for="name">
        Repeat Password <span class="red-star">*</span>
      </label>
      <input id="name" type="password" formControlName="name" required />
    </div>

    <button class="btn btn-primary btn-lg" type="submit">Join us now!</button>
  </div>
</form>
