<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="checkbox">
      <label>
        <input
          #saveUsername
          type="checkbox"
          data-toggle="toggle"
          [(ngModel)]="isVolunteer"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="isNGO"
        />
        I am Volunteer
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input
          #saveUsername
          type="checkbox"
          data-toggle="toggle"
          [(ngModel)]="isNGO"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="isVolunteer"
        />I am NGO Employee
      </label>
    </div>

    <div
      class="d-inline-block"
      ngbDropdown
      #myDrop="ngbDropdown"
      *ngIf="isVolunteer"
    >
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        id="dropdownManual"
        ngbDropdownAnchor
        (focus)="myDrop.open()"
      >
        Select Region
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem>Nowa Huta</button>
        <button ngbDropdownItem>Białystok</button>
      </div>
    </div>

    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" *ngIf="isNGO">
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        id="dropdownManual"
        ngbDropdownAnchor
        (focus)="myDrop.open()"
      >
        Select NGO
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem>Capgemini</button>
        <button ngbDropdownItem>Comarch</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 form group">
        <label for="name"> Name </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div class="col-sm-5 form group">
        <label for="name"> Name </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div class="col-sm-5 form group">
        <label for="name"> E-mail </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div class="col-sm-5 form group">
        <label for="name"> Password </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div class="col-sm-5 form group">
        <label for="name"> Repeat Password </label>
        <input id="name" type="text" formControlName="name" />
      </div>
    </div>

    <button class="button" type="submit">Join us now!</button>
  </div>
</form>
