/* .ad-footer {
  padding-left: 2%;
  padding-right: 2%;
} */

.col-xs-12 {
  margin-top: 2%;
}
.list-group-item {
  background-color: aliceblue;
  margin-bottom: 0.5vw;
  padding: 0.5vw;
  border-radius: 5%;
}
