<div class="container">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-5 form group">
      <label for="eventName"> Event Name <span class="red-star">*</span></label>
      <input id="eventName" type="text" formControlName="eventName" required />
    </div>
    <div class="col-sm-5 form group">
      <label for="regionName"
        >Region Name <span class="red-star">*</span></label
      >
      <input
        id="regionName"
        type="text"
        formControlName="regionName"
        required
      />
    </div>
    <div class="col-sm-5 form group">
      <label for="eventDescription">
        Event Description <span class="red-star">*</span></label
      >
      <input
        id="eventDescription"
        type="text"
        formControlName="eventDescription"
        required
      />
    </div>
    <div class="col-sm-5 form group">
      <label for="volAmount">
        Number of volunteers <span class="red-star">*</span></label
      >
      <input id="volAmount" type="text" formControlName="volAmount" required />
    </div>

    <div class="col-sm-5 form group">
      <label for="eventDate"> Event Date <span class="red-star">*</span></label>
      <input id="eventDate" type="text" formControlName="eventDate" required />
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Add Action</button>
  </form>
</div>
